test_MAC_errors/
test_MM_FP16/
old_federated/
test_pointwise/
test_depthwise/
Tiling_test_PW_DW_Conv/
Tiling_test_single_buffering/
test_im2col/
build_every_layer_optim.py
allprof.txt
build_every_matmul.py
all_matmul.txt
start_pulp.sh